

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  
  text-shadow: 0 0 10px rgba(250, 204, 21, 0.4);
}

.parallax .scroller {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  background: linear-gradient(90deg, #facc15, #f59e0b, #b45309, #facc15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 4s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.parallax span {
  display: block;
  margin-right: 30px;
}
